.title {
    font-family: 'Oleo Script Swash Caps', cursive;
}
h5 {font-size:16px;}

p{font-size:16px;}

small{font-size:16px;}

.image-height{
    height: 500px;
}
        
.card-columns .card {     
    margin-bottom: .25rem;
}
        
.card-columns {
    column-gap: 0.25rem;
}
        
.navbar{
    margin-bottom:0px;
}
       
.post {
    margin-top: 15px;
    margin-bottom: 48px!important;
}